body{
    width: 100%;
}
.logo{
    height: 67px;
    background-color:#C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: 
    #E8833A;
    font-size: 34px; 
}