.pergunta{
    margin-top:15px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pergunta h1{
    font-size: 24px;
    color: 
    #293845;
}
.assentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
   
}
.status{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}
.bola{
    height: 26px;
    width: 26px;
    border-radius: 50px;
    background-color: black;
}
.texto h1{
    font-size: 15px;
    color: #4E5A65;
    margin-top: 5px;
}
.conjunto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blue{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}
.cinza{
    background-color: 
    #C3CFD9;
    border: 1px solid 
    #7B8B99;
}
.laranja{
   background-color: 
   #FBE192;
    border: 1px solid 
    #F7C52B;
}
.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}
.dado-nome h1 {
    font-size: 18px;
    color: #293845;
}
.dado-cpd h1{
    font-size: 18px;
    color: #293845;
}
.input{
    display: flex;
    align-items: center;
  
    width: 327px;
    height: 51px;
    border: 1px solid
    #D4D4D4;
    margin-bottom: 7px;
    font-size: 18px;
}
.reservar{
  
    width: 225px;
    height: 42px;
    background-color: 
    #E8833A;
    border: 3px;
    color: 
    #FFFFFF;
    font-size: 18px;
    margin-top: 57px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}
